<h2 id="title">Welcome to Ember.js</h2>

<tiramisu-recipe title="Dano's World-famous Tiramisu Recipe">
  <tiramisu-ingredient name="Coffee" quantity="123" />
  <tiramisu-ingredient name="Ice Cream" quantity="456" />
  <tiramisu-ingredient name="Egg" quantity="789" />
</tiramisu-recipe>
